<div class="container text-center">
  <canvas class="zdog-canvas mbs" width="240" height="320"></canvas>
</div>

<script src="https://unpkg.com/zdog@1/dist/zdog.dist.min.js"></script>
<!-- <script src="zdog.js"></script> -->
