<h1 class="text-center mb-3">ATOMIC DESIGN KIT</h1>
<div class="container">
  <h2>Components</h2>
  <h3 class="section-title">Atom</h3>
  <p class="text-justify">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias quaerat distinctio cumque autem quasi amet quam corporis, nesciunt voluptatibus incidunt, inventore ullam asperiores pariatur unde omnis tempora necessitatibus iste sapiente.
  </p>
</div>
