<h1 class="text-center"><%= link_to edit_page_path(@page), class: "text-decoration-none text-dark" do %><%= @page.title %><% end %> UI Kit</h1>
<div class="container">
  <h2>Components<!-- <%= link_to "+", new_page_path, class: "text-decoration-none" %> --></h2>
</div>

